# Default ignored files
/shelf/
/workspace.xml
# Datasource local storage ignored files
/../../../../:\RoomAlin\Design-Pattern-Template-Method\.idea/dataSources/
/dataSources.local.xml
# Editor-based HTTP Client requests
/httpRequests/
